/* Preload
   ========================================================================== */

.bt-eerste>i {
    background-image: url(https://i.imgur.com/471laS8.png);
}
.bt-vorige>i {
    background-image: url(https://i.imgur.com/WRg7UhU.png);
}
.bt-volgende>i {
    background-image: url(https://i.imgur.com/IJY80mA.png);
}
.bt-laatste>i {
    background-image: url(https://i.imgur.com/2REnGzG.png);
}
[name="aanpassen"]>i {
    background-image: url(https://i.imgur.com/ppGD2Up.png);
}
[name="verwijderen"]>i {
    background-image: url(https://i.imgur.com/YVLZdKx.png);
}
[name="Zoeken"]>i {
    background-image: url(https://i.imgur.com/MKQ9KmF.png)
}
[name="Gebruiker_toevoegen"]>i {
    background-image: url(https://i.imgur.com/gSqVHvA.png)
}
[name="opslaan"]>i {
    background-image: url(https://i.imgur.com/yWfX1Ob.png);
}
[name="annuleren"]>i {
    background-image: url(https://i.imgur.com/kjv9MCh.png);
}
[name="verwijderen_bevestigen"]>i {
    background-image: url(https://i.imgur.com/gBctTF1.png);
}
[name="verwijderen_annuleren"]>i {
    background-image: url(https://i.imgur.com/kjv9MCh.png);
}
[name="gebruiker_opslaan"] > i {
    background-image: url(https://i.imgur.com/yHz8yeP.png);
}
[name="gebruiker_annuleren"] > i {
    background-image: url(https://i.imgur.com/2rD5IZ6.png);
}

/* Document
   ========================================================================== */


/* TABLE
   -------------------------------------------------------------------------- */

table td {
    line-height: 1.8;
}

.tabel-container select {
    margin-left: -4px;
}
.tabel-container [name="geboorteDatum"] {
    margin-left: -1px;
}

.tabel-container table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    width: 100%;
}

.tabel-container tfoot {
    display: none;
}

.tabel-container tr:nth-child(odd) {
    background-color: #f8f6ff;
}

.tabel-container th {
    font-size: 18px;
    color: #fff;
    background-color: #ec6e24;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 5px;
}

.tabel-container th[title="Acties"] {
    text-align: center;
}

.tabel-container td {
    font-size: 15px;
    color: #404040;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-left: 7px;
    word-wrap: break-word;
}

.rijOverzicht input {
    background: none;
    border: none;
}
.rijOverzicht select {
    background: none;
    border: none;
}

.rijOverzicht input[type=text]:not([name="email"]), .rijOverzicht input[type="date"], .rijOverzicht select[name="rol"] {
    max-width: 105px;
}
.rijOverzicht input[name="email"] {
    max-width: 300px;
    width: 100%;
}

.actie-images {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.actie-images a {
    width: 25px;
    height: 25px;
    display: flex;
    align-content: center;
    align-items: center;
}

/* && Actie */

.tabel-container[actie="rijFocus"] .tabel-nav [role="button"],
.tabel-container[actie="rijFocus"] .tabel-nav input,
.tabel-container[actie="tfootFocus"] .tabel-nav [role="button"]:not(.bt-gebruiker_toevoegen),
.tabel-container[actie="tfootFocus"] .tabel-nav input
{
    cursor: not-allowed;
}

.tabel-container[actie="rijFocus"] tbody tr:not(.edit):not(.delete) {
    opacity: 0.5;
}

.tabel-container[actie="rijFocus"] tbody tr:not(.edit):not(.delete) [role="button"] {
    cursor: not-allowed;
}

.tabel-container[actie="rijFocus"] tr.edit td {
    background-color: rgba(255, 255, 0, .5);
}

.tabel-container[actie="rijFocus"] tr.delete td {
    background-color: rgba(239, 20, 20, .1);
    color: rgba(239, 20, 20, .8);
}

.tabel-container[actie="tfootFocus"] .tabel-nav [role="button"]:not(.bt-gebruiker_toevoegen),
.tabel-container[actie="tfootFocus"] .tabel-nav input {
    opacity: .05;
}
.tabel-container[actie="tfootFocus"] .bt-gebruiker_toevoegen {
    background-color: #ec6e24;
    opacity: 1;
}
.tabel-container[actie="tfootFocus"] > [role="footer"] .aantalGebruikersContainer {
    display: none;
}
.tabel-container[modus="kort"][actie="tfootFocus"] .w-gebruikersOverzicht {
    display: flex;
    max-width: 500px;
}
.tabel-container[modus="kort"][actie="tfootFocus"] thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.tabel-container[actie="tfootFocus"] tfoot {
    display: table-footer-group;
}

.tabel-container[actie="tfootFocus"] tbody {
    display: none;
}
.tabel-container[modus="kort"][actie="tfootFocus"] tfoot tr:first-child {
    background-color: #f8f6ff;
    border-bottom: 3px solid #ddd;
    display: flex;
    flex-direction: column;
    border: 5px solid #ec6e24;
    margin-bottom: .625em;
}
.tabel-container[modus="kort"][actie="tfootFocus"] tfoot tr:first-child td {
    border-bottom: 1px solid #ddd;
    font-size: .8em;
    text-align: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    font-size: 14px;
}

.tabel-container[modus="kort"][actie="tfootFocus"] tfoot tr:first-child td:first-child {
    padding: 20px 12px 12px 12px;
}

.tabel-container[modus="kort"][actie="tfootFocus"] tfoot tr:first-child td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    min-width: 120px;
    max-width: 100%;
    width: 100%;
    padding: 10px;
}
.tabel-container[modus="kort"][actie="tfootFocus"] tfoot tr:first-child input {
    display: flex;
    width: 100%;
    margin: 0 2% 0 0;
    padding: 5px 0 5px 10px;
    font-size: 18px;
    max-width: none;
    border: 0;
    line-height: 1.5;
}
input[type="date"]::before {
    margin-right: 5px;
}
.tabel-container[modus="kort"][actie="tfootFocus"] tfoot tr:first-child input[type="date"]::-webkit-datetime-edit { 
    width: 100px;
}
.tabel-container[modus="kort"][actie="tfootFocus"] tfoot tr:first-child input[type="date"]::-webkit-calendar-picker-indicator {
    min-width: 30px;
}
.tabel-container[modus="kort"][actie="tfootFocus"] tfoot tr:first-child select {
    display: flex;
    width: 100%;
    margin: 0 2% 0 -4px;
    padding: 5px 0 5px 10px;
    font-size: 18px;
    max-width: none;
    border: 0;
}
.tabel-container[modus="kort"][actie="tfootFocus"] tfoot tr:first-child td {
    background-color: #ddd;
    background-image: url(../images/noise.png);
}
.tabel-container[modus="kort"][actie="tfootFocus"] tfoot tr:first-child .actie-images {
    padding: 0 30px;
    width: 100%;
}
.tabel-container[modus="kort"][actie="tfootFocus"] tfoot tr:first-child .actie-images a {
    width: 40px;
    height: 40px;
}




/* Popup
   ========================================================================== */

/*RESIZE SUPPORT */
