/* DOM delay note !!!
    het verwijderen van rijOverzicht kan een breuk in relatie met "tabel.target.table" geven.
*/

.rijOverzicht input[type=text]:not([name="email"]), .rijOverzicht input[type="date"], .rijOverzicht select[name="rol"] {
    max-width: 105px;
}
.rijOverzicht input[name="email"] {
    max-width: 180px;
}

table td {
    line-height: 1.8;
}

/*RESIZE SUPPORT */
