body { 
    background: url(../images/lepel.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main h1 {
    font-family: 'Raleway';
    color: #ec6e24; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1.5;
    text-shadow: #EDEDED 3px 2px 0;
}

main input {
    text-align: center;
    border: 3px solid #ec6e24;
    border-radius: 15px;
    
    font-size: 18px;
    margin: 10px;
    
    height: 50px;
}
#bt-login {
    margin-top: 40px;
}

/* RESIZE SUPPORT */
@media screen and (max-width: 800px) {
    main h1 {
        font-size: 50px;
    }
}
@media screen and (max-width: 600px) {
    main h1 {
        font-size: 40px;
    }
}
