/* NAV */
nav {
    font-family: Raleway;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
nav > li {
    
}

#profiel {
}

#profiel > a {
    position: relative;				
    display: flex;
    font-size: 20px;
    line-height: 50px;
    padding: 0 10px;
    
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

#profiel > a:after {
    content: '\2023';
    transform: scaleX(1.2) rotate(90deg);
    font-size: 30px;

    transition: transform 300ms ease-in-out;
    -webkit-transition: transform 300ms ease-in-out;
}

#profiel > a > i {
    font-size: 30px;
    line-height: 50px;
}
#profiel > a > span {
    margin-right: 5px;
    margin-left: 5px;
}

#bt-profile.active:after {
    transform: scaleY(1.3) rotate(0deg);
}

.dropdown {
    list-style: none;
    margin: 0;
    display: none;
    flex-direction: column;
}
.dropdown li {
    padding: 0 10px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.dropdown a {
    text-decoration: none;
    padding: 10px;
    display: flex;
}

.dropdown > li > a > i {
    font-size: 24px;
    line-height: 24px;
}

.dropdown a > span {
    margin-left: 3px;
    margin-right: 0;
    line-height: 24px;
}

.active > .dropdown {
    display: flex;
}

/* HEADER */
header {
    position: relative;
    min-height: 100px;
    max-height: 200px;
    display: flex;
    justify-content: center;
}

header > img {
}

/* SECTION: WELKOM */
#welkom > p {
    text-align: center;
    font-size: 24px;
}

/* SECTION: NAVIGATION MENU */

#nav-menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    font-family: Raleway;
    list-style-type: none;
    color: #ec6e24;
}

#main-menu {
    position: relative;
    width: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    text-align: left;
    text-decoration: none;
    list-style: none;
}

#main-menu > input[type="button"], #main-menu > input[type="submit"] { 
    font-family: Raleway; /*Force Elem Bug */
    
    position: relative;
    min-width: 400px;
    max-width: 600px;
    height: 75px;

    flex-wrap: wrap;
    margin: 10px;
    padding: 5px;
    text-align: center;

    background-color: #ec6e24;
    
    line-height: 30px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 150px #000;

    /* Experimental */
    background-image: url(../images/bg-chef3.png);
    background-size: 250px;
    background-blend-mode: soft-light;
} 

/* RESIZE SUPPORT */
@media screen and (min-width: 1250px) {
    #main-menu > li {
        width: 600px;
    }
    #main-menu > li > a {
        font-size: 36px;
        padding: 10px;
    }
}

@media screen and (max-width: 800px) {
    #main-menu > li {
        height: auto;
        width: auto;
    }
    #main-menu > li > a {
        font-size: 24px;
        padding: 10px;
    }
    header {
        display: none;
    }
}