/* IMPORTS */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/google_material_icons.woff2) format('woff2');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/raleway_thin-webfont.woff) format('woff');
}

/* SPECIAL STYLING */
::-webkit-scrollbar { display: none; } /* Chrome Only */

/* SPECIAL CLASSES */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* PRESET MODIFICATION */
input[type="button"], input[type="submit"] { 
    border: none;
    background: none;
} 
input[type="button"]:focus, input[type="submit"]:focus {
    outline: none;
    filter: brightness(75%);
}

/* PAGE STYLING */
* {}

body {
    /* background-color: rgba(224,64,6,.99); */
    background-image: url('../images/noise.png');
    color: #333;
	
    font-family: sans-serif;
}

/* CONTENT STYLING */
nav {
    list-style: none;
}
